.status-notification {
    text-align: center;
    background-color: plum;
}

.portfolio {
    margin: 20px;
}

.col {
    border-style: solid;
    padding: 30px;
    margin: 10px;
    height: 200px;
    width: 200px;
}